@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100vh;
    display: flex;
	background-color: #222831;
}
